@media screen and (max-width: 1024px) {
    .nav__menu {
        position: fixed;
        background-color: #F1F9FE;
        box-shadow: -4px 0px 7px 0px hsla(199, 70%, 37%, 0.1);
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100%;
        border-radius: 70px 0px 0px 70px;
        padding: 120px 70px 50px;
        transition: right 0.3s linear;
    }
}

@media screen and (max-width: 1024px) and (max-width: 656px) {
    .nav__menu {
        padding: 120px 45px 50px;
    }
}

@media screen and (max-width: 1024px) and (max-width: 576px) {
    .nav__menu {
        padding: 120px 32px 30px;
    }
}

@media screen and (max-width: 1024px) and (max-width: 376px) {
    .nav__menu {
        width: 70%;
        padding: 120px 10px 32px 30px;
    }
}

@media screen and (max-width: 1024px) {
    .nav__menu .menu-icon {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 1024px) {
    .nav__menu .header__social {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        position: relative;
        top: 50%;
    }
}

@media screen and (max-width: 1024px) and (max-width: 576px) {
    .nav__menu .header__social {
        top: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .nav__menu .header__link {
        display: flex;
        align-items: center;
        color: #143C55;
        transition: all 0.4s;
    }

    .nav__menu .header__link i {
        font-size: 30px;
        margin-right: 0.5rem;
        transition: transform 0.4s;
    }

    .nav__menu .header__link span {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .nav__menu .header__link:hover i {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@media screen and (max-width: 1024px) and (max-width: 576px) {
    .nav__menu .header__link i {
        font-size: 24px;
    }

    .nav__menu .header__link span {
        font-size: 0.938rem;
    }
}

@media screen and (max-width: 1024px) and (max-width: 376px) {
    .nav__menu .header__link i {
        font-size: 20px;
    }

    .nav__menu .header__link span {
        font-size: 0.938rem;
    }
}

@media screen and (max-width: 1024px) {
    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }
}

@media screen and (max-width: 1024px) and (max-width: 576px) {
    .nav__list {
        row-gap: 1.5rem;
    }
}